<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/icon.jpg">
    <title>Add New Vehicle</title>
</head>

<body>
    <div class="container post">
        <form class="login-form" id="carRequest">
            <h1>Agregar Carro</h1></br>
            <div class="form-group">
                <label for="car_id">Id del carro:</label>
                <input type="number" id="car_id" name="id" required>
            </div>
            <div class="form-group">
                <label for="">Marca:</label>
                <input type="text" id="make" name="make" required>
            </div>
            <div class="form-group">
                <label for="">Modelo:</label>
                <input type="text" id="model" name="model" required>
            </div>
            <div class="form-group">
                <label for="">Año:</label>
                <input type="number" id="year" name="year" required>
            </div>
            <div class="form-group">
                <label for="">Kilometraje:</label>
                <input type="number" id="mileage" name="mileage" required>
            </div>
            <div class="form-group">
                <label for="">Precio:</label>
                <input type="number" id="retail_price" name="retail_price" required>
            </div>
            <button class="btnPost" type="submit">Agregar</button>
            <button class="btnPost" type="button" onclick="location.href='http://127.0.0.1:8000/'">Cancelar</button>

        </form>
    </div>

    <script>
        document.getElementById("carRequest").addEventListener("submit", function (event) {
            event.preventDefault();
            const formData = new FormData(this);
            const object = {};
            formData.forEach(function (value, key) {
                object[key] = value;
            });
            const jsonData = JSON.stringify(object);
            fetch("/create-car", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: jsonData
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            }).then(data => {
                alert("¡El carro se ha agregado correctamente!");
                window.location = "/"
            }).catch(error => {
                alert("El Id ingresado ya existe!");
                console.error('There has been a problem with your fetch operation:', error);
                window.location = "/add-car-form"
            });
        });
    </script>
</body>

</html>
